<!-- Nav Bar --> 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="/team/TEAM_1" class="button">Team 1</a></li>
         <li><a href="/team/TEAM_2" class="button">Team 2</a></li>
         <li><a href="/team/TEAM_3" class="button">Team 3</a></li>
         <li><a href="/team/TEAM_4" class="button">Team 4</a></li>
        </ul>
      </div>
      <h1><a href="/">Bootsoft Bowling</a></h1>
      <hr />
    </div>
  </div>
  <!-- End Nav -->
  
  {% block content %}{% endblock %} 